@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Rammetto One";
}

.App{
  width: 100%;
  height: 100vh;
  background: linear-gradient(#21A393, #0A073F);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button{
  height: 15vw;
  width: 15vw;
  border-radius: 100%;
  border: 7px solid white;
  background-color: #F6D25A;
  cursor: pointer;
  overflow: hidden;
}

.button img{
  height: 100%;
  width: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease .2s;
}

.popup{
  position: relative;
  height: 70vh;
  width: 35%;
  background-color: #F8ECBE;
  border-radius: 1.8rem;
  opacity: 0;
}

.close-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  right: 15px;
  top: -7%;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.title-modal{
  text-align: center;
  margin-top: 10px;
}

.form{
  padding: 15px;
}

.form input{
  width: 100%;
  padding: 18px 20px;
  margin: 8px 0;
  font-size: 1.2rem;
  display: inline-block;
  border: rgb(141, 141, 141) solid 1px;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.form button{
  background-color: white;
  padding: .6rem 2rem;
  margin: 8px 0;
  border: 0;
  box-shadow: 2px 2px 4px black;
  border-radius: 0.2rem;
  font-size: 1.2rem;

  cursor: pointer;
  background-color: rgb(230, 174, 21);
  color: white;
  transition: all ease .3s;
}

.form button:hover{
  background-color: rgb(172, 129, 13);
}


@media screen and (max-width : 768px){
  .App{
    flex-direction: column;
  }

  .button{
    height: 10rem;
    width: 10rem;
  }

  .popup{
    width: 95%;
  }
}